@charset "UTF-8";

/* 1060px 이상 */
@media all and (min-width: 1060px) {
* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.btn_transparent {
	background-image: none;
	background-color: transparent;
	border: none;
}

#div_top {
	height: 100px;
	width: 100%;
}

#logo_koreanair {
	display: inline-block;
	text-decoration: none; /* 링크에 그어진 밑줄 제거 */
	position: relative; /* 위치 설정 */
	top: 2rem;
	left: 10rem;
	font-size: 20px; /* 글자 사이즈 */
	outline: 0; /* 커서를 올렸을때 표시 제거 */
}

#middle_button_top {
	display: block;
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translate(-50%, -50%);
}

#icon_top {
	position: absolute;
	top: 2rem;
	right: 13rem;
}

#user_icon {
	background-image: url("icon/user.png"); /* 이미지 경로 */
	background-repeat : no-repeat; /* 버튼 여백에 이미지 반복: 금지 */
	background-position: center; /* 버튼 내부 이미지 위치: 중앙 */
	background-size: 32px; /* 이미지 사이즈: 32px */
	background-color: transparent; /* 버튼 배경색: 투명 */
	padding: 5px; /* 버튼 안쪽 여백: 5px */
	outline: none; /* 버튼 라인: 제거 */
	border: 0px; /* 이미지 테두리 선: 0px */
}

#bell_icon {
	background-image: url("icon/bell.png");
	background-repeat : no-repeat;
	background-position: center;
	background-size: 32px;
	background-color: transparent;
	padding: 5px;
	outline: none;
	border: 0px;
}

#shopping-cart_icon {
	background-image: url("icon/shopping-cart.png");
	background-repeat : no-repeat;
	background-position: center;
	background-size: 32px;
	background-color: transparent;
	padding: 5px;
	outline: none;
	border: 0px;
}

#search_icon {
	background-image: url("icon/search.png");
	background-repeat : no-repeat;
	background-position: center;
	background-size: 32px;
	background-color: transparent;
	padding: 5px;
	outline: none;
	border: 0px;
}

/* 중단-상단 */
#div_middle_top {
	background-color: gray;
	position: relative;
	height: 450px;
	width: 98%;
	margin: 0 auto;
}

#before {
	position: inherit;
	top: 25rem;
	left: 18rem;
	background-image: url("icon/angle-left.png");
	background-repeat : no-repeat;
	background-position: center;
	background-size: 16px;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	border: 0px;
}

#after {
	position: inherit;
	top: 25rem;
	left: 20rem;
	background-image: url("icon/angle-right.png");
	background-repeat : no-repeat;
	background-position: center;
	background-size: 16px;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	border: 0px;
}

#div_middle_top_right {
	background-color: navy;
	height: 32.6rem;
	width: 38.4rem;
	position: absolute;
	top: 7rem;
	left: 69rem;
}

#reservation {
	position: inherit;
	top: 1rem;
	left: 3rem;
}

#mileage_reservation {
	position: inherit;
	top: 1rem;
	left: 6rem;
}

#right_inner_top {
	background-color: white;
	position: inherit;
	height: 11.7rem;
	width: 23.7rem;
	top: 4.1rem;
	left: 0.7rem;
}

#right_inner_middle {
	background-color: white;
	position: inherit;
	height: 3.4rem;
	width: 23.7rem;
	top: 16.3rem;
	left: 0.7rem;
}

#right_inner_bottom {
	background-color: white;
	position: inherit;
	height: 3.4rem;
	width: 23.7rem;
	top: 20.2rem;
	left: 0.7rem;
}

#nearest_date_search {
	position: inherit;
	bottom: 7rem;
	left: 0.7rem;
	color: white;
}

#air_search {
	position: inherit;
	bottom: 2rem;
	left: 0.7rem;
}
/* 중단-중단 */
#div_middle_middle {
	display: flex;
	position: relative;
	height: 300px;
	width: 100%;
}
/* 중단-하단 */
#div_middle_bottom {
	background-color: skyblue;
	position: relative;
	height: 500px;
	width: 100%;
}
} /* @media all and (min-width: 1060px) */

/* 1060px 이하 */
@media all and (max-width: 1060px) {

}