@charset "UTF-8";
/* 1060px 이상 */
@media all and (min-width: 1060px) {
	#div_middle_top_right {
	width: 43.9rem;
	}
	#div_middle_top {
	width: 100%;
	}
}
/* 1060px 이하 */
@media all and (max-width: 1060px) {
	#div_middle_top_right {
	width: 43.9rem;
	}
	#div_middle_top {
	width: 100%;
	}
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#div_top {
	height: 100px;
	width: 100%;
}

#logo_koreanair {
	display: inline-block;
	text-decoration: none; /* 링크에 그어진 밑줄 제거 */
	position: relative; /* 위치 설정 */
	top: 2rem;
	left: 10rem;
	font-size: 20px; /* 글자 사이즈 */
	outline: 0; /* 커서를 올렸을때 표시 제거 */
}

#middle_button_top {
	display: block;
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translate(-50%, -50%);
}

#icon_top {
	position: absolute;
	top: 2rem;
	right: 5rem;
}

#user_icon {
	background-image: url("icon/user.png");
	background-repeat : no-repeat;
	background-size: 32px;
}

/* 중단-상단 */
#div_middle_top {
	background-color: gray;
	position: relative;
	height: 450px;
	width: 100%;
}

#before {
	position: inherit;
	top: 25rem;
	left: 18rem;
}

#after {
	position: inherit;
	top: 25rem;
	left: 20rem;
}

#div_middle_top_right {
	background-color: navy;
	height: 32.6rem;
	width: 43.9rem;
	position: absolute;
	top: 7rem;
	left: 75rem;
}

#reservation {
	position: inherit;
	top: 1rem;
	left: 3rem;
}

#mileage_reservation {
	position: inherit;
	top: 1rem;
	left: 6rem;
}

#right_inner_top {
	background-color: white;
	position: inherit;
	height: 11.7rem;
	width: 23.7rem;
	top: 4.1rem;
	left: 0.7rem;
}

#right_inner_middle {
	background-color: white;
	position: inherit;
	height: 3.4rem;
	width: 23.7rem;
	top: 16.3rem;
	left: 0.7rem;
}

#right_inner_bottom {
	background-color: white;
	position: inherit;
	height: 3.4rem;
	width: 23.7rem;
	top: 20.2rem;
	left: 0.7rem;
}

#nearest_date_search {
	position: inherit;
	bottom: 7rem;
	left: 0.7rem;
	color: white;
}

#air_search {
	position: inherit;
	bottom: 2rem;
	left: 0.7rem;
}
/* 중단-중단 */
#div_middle_middle {
	display: flex;
	position: relative;
	height: 300px;
	width: 100%;
}
/* 중단-하단 */
#div_middle_bottom {
	background-color: skyblue;
	position: relative;
	height: 500px;
	width: 100%;
}
